@model donk.Models.Usersmetadata

@{
    ViewData["Title"] = "Welcome";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@* <h1>歡迎, @ViewData["Username"]!</h1> *@
<p>登入成功  可以開始購物.</p>

