html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(to right, #b8e1d3, #a0d8f1);

}

/*// footer使用//*/

footer {
    text-align: center; /* 文字與內容置中 */
    background: linear-gradient(to right, #1c92d2, #f2fcfe); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: #f8f9fa; /* 可選的背景色 */
}

footer a {
    margin: 0 10px; /* 圖標間距 */
    color: #000; /* 可選的圖標顏色 */
    text-decoration: none;
}

    footer a:hover {
        color: #007bff; /* 可選的懸停顏色 */
    }

.footer .container {
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    gap: 10px; /* 圖標與文字之間的間距 */
}

.footer i {
    font-size: 1.5em; /* 可調整圖標大小 */
}

/* Navbar */

.navbar {
    background: linear-gradient(to right, #50c9c3, #96deda); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff !important;
}

.nav-link {
    color: #f8f9fa !important;
    font-size: 1rem;
    margin-right: 1rem;
    transition: color 0.3s;
}

    .nav-link:hover {
        color: #d1d8e0 !important;
    }

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    color: #fff;
}

.dropdown-menu {
    background-color: #6c757d;
    border: none;
}

.dropdown-item {
    color: #fff;
}

    .dropdown-item:hover {
        background-color: #495057;
    }

.nav-item .fa-cart-shopping {
    color: #ffd700;
    transition: transform 0.3s;
}

    .nav-item .fa-cart-shopping:hover {
        transform: scale(1.2);
    }


/*購物車圖示調整*/

#cart-item-count {

    position:relative;

    right:18px;

    bottom:15px;



}


/*右上角使用者小人頭*/

#usericon {
    position: relative;
    right: 18px;

}


.wishlist-btn {

    font-size: 14px;
    color: #e74c3c; /* 愛心紅色 */
    border: 1px solid #e74c3c;
    background-color: transparent;
    transition: all 0.3s ease;
}

    .wishlist-btn:hover {
        background-color: #e74c3c;
        color: white;
    }
